<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <title>Image Search Abstraction Layer</title>
  </head>
  <body>
    <div class="container-fluid">
      <h1>Image Search Abstraction Layer</h1>
      <h3>How to use</h3>
      <p>In order to grab the request, url should look like this:</p>
      <p><code>https://image-search-abstr-layer.glitch.me/api/imagesearch/cats</code></p>
      <p>To to paginate through results you must add to url <i>?offset=<b>n</b></i>,
        where <b>n</b> is quantity of ommited results <i>n > 1</i>
      </p>
      <p><code>https://image-search-abstr-layer.glitch.me/api/imagesearch/cats?offset=11</code></p>
      <p>To show the latest queries:</p>
      <p><code>https://image-search-abstr-layer.glitch.me/api/imagesearch/cats?offset=11</code></p>
      <h4>Author:</h4>
      <p>Deyl Raytop - <a href="https://twitter.com/DeylRaytop/" target="_blank">Twitter</a></p>
      <a href="https://github.com/DeylRaytop/" target="_blank">Github</a>
      |
      <a href="https://freecodecamp.org/DeylRaytop/" target="_blank">FreeCodeCamp</a>
  </div>
  </body>
</html>
